@media screen and (max-width: 1000px){
    body{
        background-color: rgba(65, 246, 255, 0.357);
    }
    ul{
        flex-direction: column;
    }
    li a{
        width: 100vw
    }
}

body{
    margin: 0px;

}

ul{
    
    list-style-type: none;
    display: flex;
    background-color: black;
    margin: 0;
    padding: 10px 0px;
    justify-content: flex-end;
    
}


li{
    padding: 15px;
    display: inline;
    float: right;
    
}


li a{
    text-decoration: none; 
    color: white;
    padding: 10px 30px;
    font-family: "Qwitcher Grypen", cursive;
    transition: color 1s;

}

li a:hover{
    background-color: darkslategray;
}

li a:active{
    background-color: white;
    color: rgb(255, 0, 0);
}

p{
    margin-top: 9000px;
}