.image {
    position: relative;
}
.image, img {
    width: 100%;
    height: auto;
}
.overlay1{  
    position: absolute; 
    top: 40em;
    width: 60em;
    left: 15em; 
}

.overlay2{
    position: absolute;
    width: 15em;
    top: 0.5em;
    left: 75em;
}

