body {
    font-family: 'Times New Roman', serif;
    
}

#projects{
    display: flex;
    flex-direction: column;
    margin: 10vh 20vw;
    

}

#projects a{
    text-decoration: none;
    color: black;
    
}

.project:hover{
    background-color: lavenderblush;
}

.project{
    
    display: flex;
    flex-direction: row;
    /* border: 1px solid brown; */
    margin-top: 10px;
    /* padding: 15px 20px; */
    padding: 70px 90px;
    background-color: rgba(255, 240, 245, 0.392);
 
}

.project img {
    width: 23vw;
    /* padding-right: 10px; */

}

#buttons {
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    justify-content: center;
}

#buttons button{
    background-color: lavender;
    border-width: 0.001px;
    /* color: darkcyan; */
    margin: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slideshow {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumb-bar {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
    
    
}

.thumb-bar li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    /* width: 11.6%; */
    height: auto;
    flex: 1;
    object-fit: cover; 
    max-width: 100%;
    
    /* float: left;
    /* cursor:
     pointer; */
    border: 2px solid black;
    padding: 1%;
  }

.thumb-bar img {
    width: 100%;
    height: auto;
}

.displayed-img {
    width: 47%;
    height: auto;
    border: 2px solid black;
}

#description {
    padding-right: 7%;
    padding-left: 7%;
    font-size: 0.7em;
    text-align: center;
    line-height: 1.5;
    margin-top: 5%;
    /* font-family: 'Times New Roman', serif; */
    border: 0.1em solid hotpink;
   

}

.description {
    font-size: 1em;
    padding-left: 2%;

}

#project {
    font-size: 1.2em;
    text-align: center;
    
}

.nav {
    list-style-type: none;
    display: flex;
    /* background-color: rgba(128, 128, 128, 0.54); */
    background-color: lavender;
    margin: 0;
    padding: 10px 0px;
    justify-content: flex-start;
    width: 90%;
}

.nav li{
    padding: 15px;
    display: inline;
    float: right;
    
}


.nav a{
    text-decoration: none; 
    /* color: white; */
    color: black;
    padding: 10px 30px;

}

.nav a:hover{
    /* background-color: darkslategray; */
    background-color: white;
}

.name {
    font-size: 3em;
    width: 90%;
    justify-content: left;
    text-align: left;
    /* margin-left: 0;
    padding-left: 10px; */ */

}
