* {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    background: #ccc;
  }
  
  article {
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    position: relative;
    background-color: white;


    /* my css */
    background: url("bottom.png") no-repeat bottom , url("top.png") no-repeat top, linear-gradient(to bottom, rgba(0, 0, 0, 0.3)20px, rgba(0,0,0,0) 200px),linear-gradient(to top, rgba(0,0,0,0.2)20px, rgba(0,0,0,0) 200px);
    background-color: white;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width: 1mm;
    border-bottom-width: 1mm;
    border-top-color: rgb(133, 165, 70);
    border-bottom-color: rgb(133, 165, 70);
  }
  
  address {
    position: absolute;
    bottom: 8mm;
    right: 20mm;

  }
  
  h1 {
    position: absolute;
    top: 12mm;
    left: 20mm;
    width: 128px;
    height: 128px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;
    color: white;
    text-shadow: 1px 1px 1px black;

    /* my css */
    background: url("logo.png") no-repeat bottom;
    filter: drop-shadow(12px 12px 4px rgb(148, 125, 125));
    
  }
  
